---
layout: archive
permalink: /publications/
title: "Publications"
author_profile: true
---

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign sorted = site.publications | sort: 'date' | reverse %}
    {% for post in sorted %}
      {% if post.category == category[0] %}
        {% unless title_shown %}
          &lt;h2 class="archive__subtitle"&gt;{{ category[1].title }}&lt;/h2&gt;&lt;hr /&gt;
          {% assign title_shown = true %}
        {% endunless %}
        &lt;h3&gt;
          &lt;span&gt;
            &lt;a class="archive__item-title" rel="permalink" href="{{ post.permalink }}"&gt;{{ post.title }}&lt;/a&gt;
          &lt;/span&gt;
        &lt;/h3&gt;
        &lt;p class="archive__item-excerpt"&gt;{{ post.citation }}&lt;/p&gt;
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign sorted = site.publications | sort: 'date' | reverse %}
  {% for post in sorted %}
    &lt;h3&gt;
      &lt;span&gt;
        &lt;a class="archive__item-title" rel="permalink" href="{{ post.permalink }}"&gt;{{ post.title }}&lt;/a&gt;
      &lt;/span&gt;
    &lt;/h3&gt;
    &lt;p class="archive__item-excerpt"&gt;{{ post.citation }}&lt;/p&gt;
  {% endfor %}
{% endif %}
